asgiref==3.4.1
astroid==2.6.2
bleach==3.3.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.2
click==8.0.1
colorama==0.4.4
docutils==0.17.1
dtmcli==1.5.0
fastapi==0.66.0
flash==1.0.3
Flask==2.0.1
h11==0.12.0
httptools==0.2.0
idna==3.2
importlib-metadata==4.6.1
isort==5.9.2
itsdangerous==2.0.1
Jinja2==3.0.1
keyring==23.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mercurial==5.8.1
packaging==21.0
pkginfo==1.7.1
protobuf==3.17.3
pydantic==1.8.2
pygame==2.0.1
Pygments==2.9.0
pylint==2.9.3
PyMySQL==1.0.2
pyparsing==2.4.7
python-dotenv==0.18.0
PyYAML==5.4.1
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
starlette==0.14.2
toml==0.10.2
tqdm==4.61.2
twine==3.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
uvloop==0.15.2
watchgod==0.7
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
